In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [4]:
data = pd.read_excel(r"F:\DSA\Kaggle\DT MART\Predict Sales.xlsx")

In [5]:
data.head()

,OrderDate,GMV,Units,PaymentType,SLA,Category,MarkedPrice,SLA.1
0,2016-06-11 11:52:00,607,1,Prepaid,6,CameraAccessory,1339,3
1,2016-05-31 18:48:00,413,1,COD,15,CameraAccessory,848,2
2,2016-05-30 17:51:00,378,1,Prepaid,9,CameraAccessory,848,2
3,2016-05-30 17:51:00,664,1,COD,6,CameraAccessory,1448,4
4,2016-05-28 22:27:00,372,1,Prepaid,6,GamingHardware,348,3

In [6]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1048575 entries, 0 to 1048574
Data columns (total 8 columns):
 #   Column       Non-Null Count    Dtype
---  ------       --------------    -----
 0   OrderDate    1048575 non-null  datetime64[ns]
 1   GMV          1048482 non-null  object
 2   Units        1048575 non-null  int64
 3   PaymentType  1048575 non-null  object
 4   SLA          1048575 non-null  int64
 5   Category     1048575 non-null  object
 6   MarkedPrice  1048575 non-null  int64
 7   SLA.1        1048575 non-null  int64
dtypes: datetime64[ns](1), int64(4), object(3)
memory usage: 64.0+ MB

In [7]:
data['PaymentType'].value_counts()

PaymentType
COD        742886
Prepaid    305689
Name: count, dtype: int64

In [9]:
data['GMV'] = pd.to_numeric(data['GMV'], errors='coerce')

In [10]:
data['GMV'].value_counts()

GMV
999.0      31955
169.0      20228
799.0      17901
1999.0     14692
699.0      13793
           ...
12203.0        1
20780.0        1
34856.0        1
71433.0        1
73975.0        1
Name: count, Length: 10876, dtype: int64

In [11]:
data['SLA'].value_counts()

SLA
6      147926
5      147809
4      141495
7      129263
3      116288
8      101084
2       72703
9       64107
1       38513
10      38206
11      21681
12      12822
13       7176
14       3857
15       2013
16       1097
0        1017
17        567
18        319
19        195
20         97
25         45
21         45
23         34
22         31
26         30
30         27
24         26
27         26
28         19
29         16
31          9
39          5
42          4
33          3
35          3
38          3
37          2
40          2
41          2
32          1
184         1
145         1
175         1
45          1
44          1
56          1
60          1
Name: count, dtype: int64

In [12]:
data['Category'].value_counts()

Category
EntertainmentSmall    598423
CameraAccessory       163034
GamingHardware        147568
Camera                 71900
GameCDDVD              67650
Name: count, dtype: int64

In [13]:
from sklearn.preprocessing import LabelEncoder